      <header>
        <h1><a href="http://braythwayt.com/">mr. r. s. braythwayt,<br/>esquire</a></h1>
        <p></p>
        <hr/>
        <p></p>
        <p class="view"><a href="http://leanpub.com/javascriptallongesix/read"
               title="JavaScript Allongé"
            >
              <img src="/assets/images/javascript-allonge.jpg" alt="JavaScript Allongé" />
            </a>
            <br/>
            <a href="https://leanpub.com/javascriptallongesix/"
               title="A strong cup of functions, objects, combinators, and decorators"
            >JavaScript Allongé</a>
        </p>
        <p></p>
        <hr/>
        <p></p>
        <p class="view"><a href="https://leanpub.com/shippingsoftware" title="What I've Learned From Failure"><img src="/assets/images/failure-book.jpg" alt="What I've Learned From Failure" width=120 height=180 /></a>
            <br/>
            <a
            href="https://leanpub.com/shippingsoftware"
            title="A quarter-century of experience shipping software, distilled into fixnum bittersweet essays "
            >What I've Learned From Failure</a>
        </p>
        <p></p>
        <hr/>
        <p></p>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" />\
      </header>
