      <header>
        <h1><a href="http://braythwayt.com/">mr. r. s. braythwayt,<br/>esquire</a></h1>
        <p></p>
        <hr/>
        <p></p>
        <p class="view"><a href="http://leanpub.com/javascript-allonge" 
               title="JavaScript Allongé"
            >
              <img src="http://i.minus.com/iW2E1A8M5UWe6.jpeg" alt="JavaScript Allongé" />
            </a>
            <br/>
            <a href="https://leanpub.com/javascript-allonge"
               title="A strong cup of functions, objects, combinators, and decorators"
            >JavaScript Allongé</a>&nbsp;<a href="http://leanpub.com/coffeescript-ristretto" title="CoffeeScript Ristretto"><img src="http://i.minus.com/iMmGxzIZkHSLD.jpeg" alt="CoffeeScript Ristretto" /></a>
            <br/>
            <a 
            href="http://ristrettolo.gy"
            title="An intense doppio of programming"
            >CoffeeScript Ristretto</a>
        </p>
        <p></p>
        <hr/>
        <p></p>
        <p class="view"><a href="http://leanpub.com/combinators" title="Kestrels, Quirky Birds, and Hopeless Egocentricity"><img src="http://i.minus.com/ibw1f1ARQ4bhi1.jpeg" alt="Kestrels, Quirky Birds, and Hopeless Egocentricity" /></a>
            <br/>
            <a 
            href="http://combinators.info"
            title="Raganwald's collected adventures in Combinatory Logic and Ruby Meta-Programming"
            >Kestrels, Quirky Birds, and Hopeless Egocentricity</a>
        </p>
        <p></p>
        <hr/>
      </header>