<!DOCTYPE html>
<html>
    <head>
        {% include head_tags.html %}
    </head>
    <body>
      
      <div id="header">
        <nav>
          <li class="fork"><a 
            href="https://leanpub.com/javascript-allonge"
            title="A strong cup of functions, objects, combinators, and decorators"
            >JavaScript Allongé</a>&nbsp;</li>
          <li class="fork"><a 
            href="http://ristrettolo.gy"
            title="An intense doppio of programming"
            >CoffeeScript Ristretto</a>&nbsp;</li>
          <li class="fork"><a 
            href="http://combinators.info"
            title="Raganwald's collected adventures in Combinatory Logic and Ruby Meta-Programming"
            >The “Kestrels” Book</a>&nbsp;</li>
          <li class="fork"><a
            href="http://allong.es" 
            title="All of the JavaScript Allongé receipies in a free library"
            >allong.es</a>&nbsp;</li>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          {% include header.html %}
          <hr>
          <span class="credits left">This blog is written by <a href="http://braythwayt.com">Reg "raganwald" Braithwaite</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="http://twitter.com/#!/michigangraham">mattgraham</a></span>
        </div>

        {{ content }}
        
        {% include footer.html %}
        
      </section>
      <br/>
      
        {% include foot_tags.html %}

    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->


    </body>
</html>
