<!DOCTYPE html>
<html>
    <head>
        {% include head_tags.html %}
    </head>
    <body>
      
      <div id="header">
        <nav>
          <li class="fork"><a href="https://leanpub.com/javascript-allonge">JavaScript Allongé</a></li>
          <li class="fork"><a href="http://ristrettolo.gy">CoffeeScript Ristretto</a></li>
          <li class="fork"><a href="http://combinators.info">Kestrels, Quirky Birds, and Hopeless Egocentricity</a></li>
        </nav>
      </div><!-- end header -->
      
        <div class="container">
            
            
        </div>
        {% include foot_tags.html %}

    <div class="wrapper">

      <section>
        <div id="title">
          {% include header.html %}
          <hr>
          <span class="credits left">This blog is written by <a href="http://braythwayt.com">Reg "raganwald" Braithwaite</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="http://twitter.com/#!/michigangraham">mattgraham</a></span>
        </div>

        {{ content }}
        
        {% include footer.html %}
        
      </section>
      
        {% include foot_tags.html %}

    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->


    </body>
</html>
